.Disco{
    background-color: black;
    margin-top: 37px;
}

.h3disco{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h6disco{
    color: rgb(192, 240, 20);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: aliceblue;
    text-align: center;
}