.Graficos{
    background-color: black;
    margin-top: 0%;
}

.h3monitor{
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
}

.h3controlador{
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
}

.h6monitor{
    color: rgb(24, 137, 243);
    text-align: center;
}

.h6controlador{
    color: rgb(196, 243, 24);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: rgb(255, 255, 255);
    text-align: center;
}

