.row{
    text-align: center;
}

.col{
    text-align: center;
}

.logo_DS{
    margin-left: 15px;
}

.logo_Linux{
    width: 100px;
    height: 80px;
    margin-left: 140px;
}

.logo_HP{
    width: 100px;
    height: 80px;
}

.logo_AMD{
    width: 100px;
    height: 80px;
}

.logo_Asus{
    width: 100px;
    height: 80px;
}

.Logo_Logitech{
    width: 90px;
    height: 80px;
}

.Logo_Windows{
    width: 80px;
    height: 80px;
}

.btn{
    width: 100px;
    height: 80px;
    margin-bottom: 5%;
}

.bg-success{
    width: 120px;
    height: 60px;
    margin-bottom: 5%;
    color: rgb(255, 255, 255);
}

.col-sm-12{
    text-align: center;
    margin-top: -10px
}

.container p-4 my-4 bg-light text-warning{
    margin-top: -80px;
}