.Placa{
    background-color: black;
}

.h3placa{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h6placa{
    color: rgb(196, 243, 24);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: rgb(255, 255, 255);
    text-align: center;
}