.Procesos{
    background-color: black;
    margin-top: 0%;
}

.h3procesos{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h3pcpu{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h6procesos{
    color: rgb(192, 240, 20);
    text-align: center;
}

.h6pcpu{
    color: rgb(24, 137, 243);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: aliceblue;
    text-align: center;
}
