.Programas{
    background-color: black;
    margin-top: 37px;
}

.h3pro{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h6pro{
    color: rgb(196, 243, 24);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: rgb(255, 255, 255);
    text-align: center;
}

