.Red{
    background-color: black;
    margin-top: 37px;
}

.h3red{
    color: rgb(255, 230, 230);
    text-align: center;
    margin-top: 1%;
}

.h3inter{
    color: rgb(10, 92, 235);
    text-align: center;
    margin-top: 1%;
}

.h6inter{
    color: rgb(10, 92, 235);
    text-align: center;
}

.h3contro{
    color: rgb(235, 194, 10);
    text-align: center;
    margin-top: 1%;
}

.h6contro{
    color: rgb(235, 194, 10);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: rgb(255, 255, 255);
    text-align: center;
}

