.Usb{
    background-color: black;
}

.h3usb{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}

.h6usb{
    color: rgb(14, 166, 212);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: aliceblue;
    text-align: center;
}

.h61usb{
    color: rgb(169, 245, 28);
    text-align: center;
}

.h62usb{
    color: rgb(245, 2, 2);
    text-align: center;
}

.h63usb{
    color: rgb(67, 51, 212);
    text-align: center;
}

.h64usb{
    color: rgb(22, 156, 67);
    text-align: center;
}

