.Wifi{
    background-color: black;
    margin-top: 37px;
}

.h3wifi{
    color: rgb(255, 230, 230);
    text-align: center;
    margin-top: 1%;
}

.h6wifi1{
    color: rgb(192, 240, 20);
    text-align: center;
}

.container{
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

.info{
    color: rgb(255, 255, 255);
    text-align: center;
}

.h6wifi2{
    color: rgb(14, 116, 212);
    text-align: center;
}

.h6wifi3{
    color: rgb(180, 58, 10);
    text-align: center;
}