.App-header {
background-color: rgb(255, 255, 255);
}

.row{
  margin-top: 2%;
}

.col-2 {
  background-color: #ffffff;
  margin-right: 11%;
  margin-left: 3%;
}

.col-8 {
  background-color: #ffffff;
  color: rgb(189, 173, 28);
  margin-top: 0.3cm;
  text-align: right;
  font-style: consolas;
}
.img_mov {
 margin-top: 0.3cm;
 margin-right: 45%;
 margin-left: 18%;
}
	
main {
  background-color: rgb(139, 139, 146);
  margin-top: 2cm;  
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 200px 200px;
  text-align: center;
}